.date-display {
  display: flex;
  flex-direction: column;

  &__day {
    font-size: 15px;
    font-weight: 500;
  }

  &__date {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-sky-blue);
  }
}
