.field {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 510px;

  &__label {
    font-size: 14px;
    font-weight: 500;
  }

  &__input {
    height: var(--input-height);
    padding-left: 10px;
    border: var(--border);
    border-radius: var(--border-radius-small);
    transition-property: border-color;
    transition-duration: var(--transition-duration);

    &:focus {
      border-color: var(--color-accent);
      border-width: 2px;
      outline: none;
    }
  }

  &__button {
    position: absolute;
    bottom: 12px;
    right: 10px;
    display: flex;
  }
}
