.task-detail {
  --iconButtonSize: 36px;

  position: relative;
  height: 100%;
  padding-bottom: var(--iconButtonSize);

  &__header {
    display: flex;
    column-gap: 15px;
    align-items: end;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
  }

  &__meta {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-size: 12px;

    &-line {
      &--date {
        font-size: 10px;
        color: var(--color-gray-alt);
      }
    }
  }

  &__priority {
    &--extreme,
    &--high {
      color: var(--color-red);
    }
  }

  &__status {
    &--not-started {
      color: var(--color-red);
    }
  }

  &__body {
    font-size: 16px;
    color: var(--color-gray);
  }

  &__notes,
  &__checklist {
    display: flex;
    flex-direction: column;
  }

  &__notes {
    &--vital-task {
      row-gap: 35px;
      margin-bottom: 40px;
    }
    &--my-tasks {
      row-gap: 5px;

      ul {
        padding-left: 20px;
        list-style-type: disc;
      }
    }
  }

  &__checklist {
    row-gap: 8px;
    padding-left: 20px;
  }

  &__actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__button {
    svg {
      @include square(60%);
    }
  }
}
