.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding-inline: 70px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 12px 0 rgb(0, 0, 0, 0.07);

  @include desktop {
    height: 70px;
    padding-inline: 40px;
  }

  @include mobile {
    height: 60px;
    padding-inline: 20px;
  }

  &__search-bar {
    margin-inline: 50px;
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 50px;
    // margin-left: auto;

    @include desktop {
      column-gap: 30px;
    }

    @include tablet {
      column-gap: 20px;
      margin-left: 0;
    }
  }

  &__button-group {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}
